html{
    background-color: beige;
}
#section1{
    background-color: rgb(83, 54, 54);
    background-image: url("assets/img.png");
    width: 1500px;
    background-size: cover;
    background-position: center;
    height: 950px;
}

#nav-bar{
    background-color:beige;
    display: inline-block;
    margin: 40px 100px 50px 100px;
    width: 1200px;
    height: 70px;
    padding: 1%;
}

.nav-ele{
    padding: 6%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav-button{
    border-radius: 30px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin: 10px;
}

#sec1-body{
    width: 550px;
    padding-left: 100px;
    color: beige;
}

.font1{
    font-size: 57px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: beige;
}

.font2{
    font-size: 22px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    color: beige;
}

#body-button{
    background-color: beige;
    color: black;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    font-size: large;
}


#form-part{
    display: inline-block;
    background-color: rgba(255,249,175,255);
    color: black;
    margin-left: 500px;
    text-align: center;
    border-radius: 30px;
    padding: 30px 30px 0px 30px;
}

.font3{
    font-size: 30px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

table, td{
    margin: 30px 30px 0px 30px;
    padding: 10px;
    text-align: left;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: large;
}

.input-border{
    border-radius: 10px;
    border-color: black;
    height: 40px;
    width: 190px;
    margin-top: 5px;
    background-color: inherit;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
#service{
    width: 420px;
}

#centerButton{
    width: 100%;
    text-align: center;
}

#form-button{
    border-radius: 30px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    width: 190px;
    font-size: large;
    margin: 10px;
}

#section2{
    width: 1300px;
    margin: 230px 80px 50px;
}

#section2 > div ,#section3 > div {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
}

.subSection{
    width: 20%;
    display: inline-block;
    background-color: rgba(255,249,175,255) ;
    padding: 40px 20px;
    margin: 10px;
    height: 350px;
}

.subHead{
    font-size: 44px;
    font-family: Questrial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}
.mainword{
font-size: 40px;
display: inline;
}

.desc{
font-size: 25px;
display: inline;
}
.author{
    font-size: 20px;
}



#section3{
    background-color: rgba(76,91,92,255);
    height: 830px;
    text-align: center;
    width: 1500px;
    padding: 50px;
}

#section3 div{
    height: 100px;
    width: 25%;
    margin: 20px;
    display: inline-block;
    background-size: cover;
    border-radius: 10px;
    text-align: start;
    padding-top:420px ;
    padding-left: 10px;
    font-size: 32px;
    color: rgb(234, 234, 189);
}
#sec3-sub1{
    background-image: url("assets/img1.webp");
}
#sec3-sub2{
    background-image: url("assets/img2.webp");
}
#sec3-sub3{
    background-image: url("assets/img3.webp");
}
#sec3-button{
    background-color: beige;
    color: rgba(76,91,92,255);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
}